{% extends "base.html.twig" %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h3>Helllo, <i>{{ app.user.username }}</i></h3>
    <h4>This is Admin Dashboard</h4>
    <a href="{{ path('admin_logout') }}">Log out</a>
{% endblock %}